<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--属性定义-->
    <property name="LOG_NAME" value="/Users/zhuminghua/Documents/logs/swift-demo/demo" />
    <property name="LOG_PORT" value="${port:-80}" />
    <property name="LOG_KEEP_DAY" value="10" />

    <!--控制台输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%X{requestId}] %logger{50}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--文件输出-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">　　　　　　　　　　　　
        <file>${LOG_NAME}-${LOG_PORT}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">　　　　　　　　　　　　
            <fileNamePattern>${LOG_NAME}-${LOG_PORT}-%d{yyyy-MM-dd}.zip</fileNamePattern>　　　　　　　　　　　　　
            <maxHistory>${LOG_KEEP_DAY}</maxHistory>　　　　　　　　　　　
        </rollingPolicy>　　　　　
        <encoder>　　　　　　　　　　　
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread][%level][%X{requestId}] %logger{50}:%line - %msg%n</pattern>　　　　　　　　　　　
        </encoder>　　
    </appender>

    <!--主日志级别-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
    <!--包日志级别-->
    <logger name="com.ibatis" level="debug"/>
    <logger name="java.sql" level="debug"/>

</configuration>
